body{
    overflow: hidden;

    .sticky-top {
        transition: background-color 0.3s ease;
        &.scrolled {
          background-color: #f8f9fa !important;
        }
    };
    .my-margin{
        background-color: white;
        margin-bottom: 3em;
        justify-self: center;
    }


    header, aside {
        li{
            list-style: none;
        }
        a {
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    };

    aside {
        height: 97.8vh;
        min-width: 200px;
        padding: 2em 0;
        border-top: 1px solid grey;
    };
}
